{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
                <tr>
                <th>Spaces</th>
                <td>{{ user.psedo}}</td>
            </tr>

            <tr>
                <th>Spaces</th>
                <td>{{ user.spaces }}</td>
            </tr>
            <tr>
                <th>HomePlanet</th>
                <td>{{ user.homePlanet }}</td>
            </tr>
            <tr>
                <th>GalacticCredit</th>
                <td>{{ user.galacticCredit }}</td>
            </tr>
          
            <tr>
                <th>Description</th>
                <td>{{ user.description }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
            <tr>
              
        </tbody>
    </table>

    {# <a href="{{ path('newaccount_index') }}">back to list</a> #}

    <a href="{{ path('newaccount_edit', {'id': user.id})  }}" class='btn btn-success'>modifier</a>

    <div class='btn btn-danger'>{{ include('newaccount/_delete_form.html.twig') }}</div>
{% endblock %}
