{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email,{'attr': {'class': 'placeholder'}}) }}
       	 {{ form_row(registrationForm.plainPassword) }}
         {{form_row(registrationForm.psedo,{'attr': {'class': 'placeholder'}})}}
        {{form_row(registrationForm.spaces,{'label': 'espèce','attr': {'class': 'placeholder'}})}}
         {{form_row(registrationForm.homePlanet, {'label': 'planète de résidance','attr': {'class': 'placeholder'}})}}
          {{form_row(registrationForm.description, {'label': 'une petite présentation?','attr': {'class': 'placeholder'}})}}
              {{form_row(registrationForm.avatar,{'attr': {'class': 'placeholder'}})}}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">créé</button>
    {{ form_end(registrationForm) }}
{% endblock %}
