{{ form_start(form) }}
    {# {{ form_widget(form ) }} #}
   {{ form_row(form.nam, {'label': "Nome de l'article ",'attr': {'class': 'placeholder'}}) }}
         {{form_row(form.description, {'label': 'description','attr': {'class': 'placeholder'}})}}
          {{ form_row(form.localisation, {'label': 'localisation','attr': {'class': 'placeholder'}}) }}
         {{form_row(form.price, {'label': 'prix','attr': {'class': 'placeholder'}})}}
          {{ form_row(form.weight, {'label': 'pois','attr': {'class': 'placeholder'}}) }}
         {{form_row(form.image, {'label': 'image','attr': {'class': 'placeholder'}})}}
         {{form_row(form.category, {'label': 'catégorie'})}}
        {# {{ form_row(form.auteure, {'attr': {'value': app.user.username }}) }} #}

     
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
