{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nam</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Price</th>
                <th>Weight</th>
                <th>actions</th>
                <th>image</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.nam }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.localisation }}</td>
                <td>{{ article.price }}</td>
                <td>{{ article.weight }}</td>
                <td>
                    <a href="{{ path('liste_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('liste_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('liste_article_new') }}">Create new</a>
{% endblock %}
